<div class="container-fluid">
    <div class="row">
        <div class="col col-12">
            <app-header></app-header>
        </div>
        <div class="col col-12">
            <div class="row">
                <div class="col col-3">
                    <app-sidebar></app-sidebar>
                </div>
                <main class="col col-9">
                    <router-outlet></router-outlet>
                    <app-preloader></app-preloader>
                    <!-- <app-list [list]="frameworkList"></app-list> -->
                </main>
            </div>
            
        </div>
        <div class="col col-12">
            <app-footer></app-footer>
        </div>
    </div>
</div>







